.boxupload {
    background-image:linear-gradient(rgb(221, 77, 221),rgb(19, 19, 217));
    width:max-content;
    margin-top: 20px;
    /* margin-bottom: auto; */
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
}

.boxconvert {
    background-image:linear-gradient(rgb(221, 77, 221),rgb(19, 19, 217));
    width:fit-content;
    margin-top: 330px;
    /* margin-bottom: auto; */
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
}

.outerboximages {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.boximage {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    float: left;
    margin: 5px;
    
}

.header {
    color: black;
    font-size : 120%;
    margin-right: 10px;
    text-align: right;

}
.radio {
    color: azure;
    /* text-align: left; */
    margin-right: 10px;
    margin-left: 10px;
   
    
}
.boxupload input {
    text-align: left;
    color: rgb(132, 30, 227);
    background-color: rgb(243, 234, 222);
}
::placeholder {
    color: rgb(136, 92, 92)
}
.button {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6px;
    margin-bottom: 6px;

}

button {
    background-color:rgb(240, 240, 183);
    border-radius: 8px;
    border-style: dotted;
}

.error {
    padding-right: 15px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255, 0, 0, 0.774);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    direction:ltr;
}
.image {
    direction: ltr;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.boxconvert label {
    margin-right: 10px;
}

.outerboximages [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    outline: 2px solid rgb(8, 8, 8);
    cursor:pointer;
}


.outerboximages [type=radio]:checked +img {
    outline: 3px solid rgb(255, 0, 200);
}


.message {
    padding: 0px 12px;
    margin-top: 5px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(81, 159, 81, 0.277);
    border-style: dotted;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    direction:ltr;
}

nav {
    direction: ltr;
    margin-left: 15px;
 } 
 
 a {
  background-color: rgb(147, 255, 47);
  border-radius: 10px;
  border-color: aqua;
  margin: 5px;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 }

 a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  strong {
    background-color: rgb(147, 255, 47);
    border-radius: 10px;
    border-color: aqua;
    margin: 5px;
    padding: 0px 10px;
    text-align: center;
    color:rgb(128, 51, 200)
  }

  