.outerbox {
    /* overflow: hidden; */
    /* margin-bottom: auto; */
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    /* border-style: dashed; */
}
.box {
    background-image:linear-gradient(rgb(221, 77, 221),rgb(19, 19, 217));
    width: fit-content;
    margin-top: 250px;
    /* margin-bottom: auto;
    margin-top: auto; */
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    float: left;
    margin: 5px;
    /* display: flex;
    justify-content: space-between; */
}

.header {
    color: black;
    font-size : 120%;
    text-align: center;

}
.input {
    color: azure;
    text-align: right;
    margin-right: 10px;
    margin-left: 10px;
   
    
}
input {
    text-align: left;
    color: rgb(132, 30, 227);
    background-color: rgb(243, 234, 222);
}
::placeholder {
    color: rgb(136, 92, 92)
}
.button {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6px;
    margin-bottom: 6px;
}
button {
    background-color:rgb(240, 240, 183);
    border-radius: 8px;
    border-style: dotted;
}
.error {
    padding-right: 15px;
    margin-top: 5px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255, 0, 0, 0.774);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;              
}

.box3 {
    background-image:linear-gradient(rgb(221, 77, 221),rgb(19, 19, 217));
    width: fit-content;
    margin-top: 250px;
    /* margin-bottom: auto;
    margin-top: auto; */
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    
}

.message {
    padding: 0px 12px;
    margin-top: 5px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(81, 159, 81, 0.277);
    border-style: dotted;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    direction:ltr;
}
label {
    display:block;
    float: right;
    width: 100px;

}